.form {
    position: relative;
    margin: 0;
    overflow: hidden;
    background-color: #ffff;
    /* background: rgb(255,230,0);
    background: linear-gradient(180deg, rgba(255,230,0,1) 0%, rgba(235,235,235,1) 100%); */
    padding: 50px 3%;
    min-height: 95vh;
}

.form-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 3px 14px -3px rgb(0 0 0 / 28%);
    padding: 4rem;
    background-color: #fff;
    border-radius: 6px;
    font-family: Proxima Nova,-apple-system,Roboto,Arial,sans-serif;
}

.form-container h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.form-container p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .3px;
    line-height: 1.5em;
    margin: 0;
    color: #333;
}

.form-header{
    margin-bottom: 2em;
}