.form {
  position: relative;
}

.form-wrapper h1 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.5rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0.45rem;
}

.form-wrapper p {
  font-size: 16px;
  font-weight: 400;
  color: #777;
}

@media (min-width: 991px) {
  .form {
    align-items: center;
    height: auto;
    min-height: 100vh;
    justify-content: center;
  }
}