/* Home Page */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(180deg, #fff48e 8.33%, #ffd100);
}

.hero h1 {
  font-size: 68px;
  line-height: 4rem;
  font-weight: 400;
  color: #333;
  letter-spacing: -0.0246153846rem;
  margin-bottom: 1.4615384615rem;
}

.hero p {
  font-size: 17px;
  line-height: 1.5384615385rem;
  font-weight: 400;
  color: #0c0c0c;
  margin-bottom: 1rem;
}

.hero button {
  font-weight: 500;
}

.hero-image {
  border-radius: 16px;
  width: 90%;
  max-width: 100%;
  filter: drop-shadow(0 0 0.4rem rgba(39, 39, 39, 0.43));
}

.info {
  position: relative;
}

.cards-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: -130px;
  left: 50%;
  transform: translateX(-50%);
}

.cards-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-link {
  color: #333;
  text-decoration: none;
}

@media (min-width: 991px) {
  .hero {
    align-items: center;
    height: 93vh;
    justify-content: center;
  }
}

@media (max-width: 991px) {
  .hero-image {
    display: none !important;
  }

  .hero {
    height: 100vh;
    background: #fff159;
    background: linear-gradient(
      180deg,
      #fff159 0%,
      rgba(235, 235, 235, 1) 100%
    );
  }
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 46px;
    line-height: 1;
  }

  .cards-container {
    padding: 0 10px !important;
    position: unset !important;
    transform: none !important;
  }

  .cards-group {
    flex-direction: column !important;
  }
}

/* About Section */

.about {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.about h1 {
  color: #0c0c0c;
  font-weight: 400;
  letter-spacing: -0.0369230769rem;
  font-size: 68px;
  line-height: 3.5384615385rem;
  margin-bottom: 1.8461538462rem;
}
@media screen and (max-width: 768px){
  .about h1 {
    font-size: 46px;
    line-height: 1;
}
}

.about-heading-bold {
  color: #3483fa;
}

.about p {
  color: #0c0c0c;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.8461538462rem;
  margin-bottom: 1.5384615385rem;
}

.about-image {
  border-radius: 16px;
  width: 90%;
  max-width: 100%;
  filter: drop-shadow(0 0 0.4rem rgba(39, 39, 39, 0.545));
}

@media (max-width: 991px) {
  .about-image {
    display: none !important;
  }
}

@media (min-width: 991px) {
  .about {
    margin-bottom: 4.6153846154rem;
    margin-top: 6.3076923077rem;
    padding: 0;
  }
}
/* Statistics Page */


@media (min-width: 991px) {
  .statistics-section {
    align-items: center;
    height: auto;
    min-height: 100vh;
    justify-content: center;
  }
}

.page-header h1 {
  color: rgba(0, 0, 0, 0.9);
  font-size: 1.5rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 0.45rem;
}

.page-header p {
  font-size: 16px;
  font-weight: 400;
  color: #777;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  max-height: 80%;
  overflow-y: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.3rem;
  outline: 0;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

.modal-header button {
  cursor: pointer;
  overflow: visible;
  background: 0 0;
  border: 0;
  display: block;
  outline: 0;
  padding: 0;
  font-size: 22px;
}

.modal-header .close-button {
  color: #3483fa;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
}

.modal-span {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.modal-body p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55);
  font-weight: 400;
  line-height: 0;
  margin: 8px 0 24px;
}

.occurrence-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.67em 0;
}

.occurrence-card h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.3em;
}

.occurrence-card span {
  font-size: 12px;
}

.evidence-link {
  cursor: pointer;
  font-size: 14px;
  margin-right: 0.3em;
  color: #3483fa;
}

.evidence-link:hover {
  cursor: pointer;
  margin-right: 0.3em;
  color: #1556b7;
}

.mfp-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  outline: 0 !important;
}

.mfp-container {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-close {
  cursor: pointer;
  overflow: visible;
  background: 0 0;
  border: 0;
  display: block;
  outline: 0;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
  width: 100%;
  text-align: right;
  font-size: 22px;
  text-decoration: none;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #fff;
}

.mfp-content {
  max-width: 100%;
  cursor: auto;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-content img {
  max-height: 493px;
}

img.mfp-img {
  display: block;
  line-height: 0;
  padding: 40px 0 40px;
  margin: 0 auto;
  width: auto;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

.border-top-thin {
  border-top: 1px solid #cacaca;
}

@media screen and (max-width: 481px) {
  .modal {
    padding: 10px !important;
    width: 90% !important;
  }

  .mfp-content img {
    max-height: 493px;
    width: 100%;
  }
}
