
.footer-landing {
    background-color: #eee;
    color: #000;
    display: flex;
    flex-direction: column;
    font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif;
    padding: 30px 22px;
}

@media (min-width: 768px){
    .footer-landing {
        flex-direction: row;
        justify-content: space-around;
        padding: 30px 100px;
    }
}

@media (min-width: 768px){
    .footer-logo {
        margin-right: 20px;
        width: 115px;
        height: 29px;
    }
}

.footer-logo {
    align-self: flex-start;
    width: 115px;
    height: 29px;
}

@media (min-width: 768px){
    .footer-content-container {
        display: flex;
        gap: 22px;
    }
}

@media (min-width: 768px){
    .footer-links {
        border-right: 1px solid #fff;
        height: -moz-fit-content;
        height: fit-content;
        margin: 0 !important;
        row-gap: 0 !important;
    }
}

.footer-links {
    display: grid;
    font-size: 13px;
    font-weight: 400;
    grid-template-columns: repeat(2, 1fr);
    margin: 26px 0;
    row-gap: 2px;
}

@media (min-width: 768px){
    .footer-links a:nth-child(odd) {
        border-right: 1px solid #fff;
    }
}

@media (min-width: 768px){
    .footer-links a {
        padding: 6px 20px 0 !important;
        cursor: pointer;
    }
}

.footer-links a {
    all: unset;
}

.footer-social-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

@media (min-width: 768px){
    .footer-social-container {
        margin: 0 !important;
        /* width: min-content; */
    }
}

@media (min-width: 768px){
    .footer-icons {
        align-self: auto;
        gap: 24px;
    }
}
.footer-icons {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.footer-icons .icon-social {
    min-width: 24px;
    min-height: 24px;
}


.footer-social-container p {
    align-self: center !important;
    color: #000;
    font-size: 10px;
    margin: 16px 0;
}




/* 
footer section {
  padding: 3em 13%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.company-info {
  width: 250px;
}

.company-info img {
  margin-top: 12px;
  cursor: pointer;
}

.company-info p {
  font-family: var(--font-Karla);
  font-size: 18px;
  color: white;
}

footer h3 {
  font-family: var(--font-Karla);
  font-size: 18px;
  font-weight: 800;
  color: white;
}

footer ul {
  padding: 0;
}

footer ul li {
  padding: 8px 0;
  font-family: var(--font-Karla);
  font-size: 14px;
  font-weight: 300;
  color: white;
}

footer ul li a {
  font-family: var(--font-Karla);
  font-size: 14px;
  font-weight: 300;
  color: white;
} */
